{% extends 'app/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% csrf_token %}
<form method="post" enctype="multipart/form-data" id="upload_form">
    {% csrf_token %}
{{form|crispy}}
<input type="submit" value="Update">
    <input type="button" value="Cancel"
           onclick="window.location.href='{% url 'app:main' %}'">
</form>
<script>
    $("#upload_form").submit(function(){
    if (window.File && window.FileReader && window.FileList && window.Blob) {
    var file = $('#id_{{ form.uploaded_field_name }}')[0].files[0];
    if (file && file.size > {{ form.max_upload_limit }}) {
    alert("File " + file.name + " of type " + file.type + " must be < 2 Mb");
    return false;
    }
    }
    });
</script>
{% endblock %}